<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechNotes</title>
</head>
<body style="background-color: black;">
    <div>
        <div>
            <a href="login" style="font-size: 20px; text-decoration: none; color: #c7c2c2;">Login</a>
        </div>
    </div>
    <div style="width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;">
    <h1 style="color: #FFF; font-size: 50px;">TechNotes</h1>
    </div>
</body>
</html>